@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-Italic.woff2') format('woff2'),
       url('fonts/PlusJakartaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
       url('fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



:root {
  --font-main: 'Plus Jakarta Sans';
}

* {
  box-sizing: border-box;
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}



/*  Page */

body > .page {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 6rem 1fr;
}

.page__main-content {
  padding: 0.6rem 0;

  display: flex;
  justify-content: center;
}



/*  Header  */

.page__header > .header__top {
  height: 3.5rem;

  padding: 0.6rem 1rem;

  display: flex;
  justify-content: space-between;
}

.header__top-left {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}

.menu-icon__container {
  border: 1px solid lightgrey;
  border-radius: 6px;

  aspect-ratio: 1 / 1;
  width: 1.8rem;

  padding: 0.2rem;
}

.menu-icon {
  height: 100%;
  width: 100%;
}

.user-name__container {
  font-size: 0.9rem;
}

.user-name {
  text-decoration: none;
}

.header__top-right {
  display: flex;
  column-gap: 0.8rem;
}

.create-new {
  border: 1px solid lightgrey;
  border-radius: 6px;

  width: fit-content;

  padding: 0.2rem;

  display: flex;
  align-items: center;
  column-gap: 0.2rem;
  justify-content: center;
}

.create-new__icon {
  aspect-ratio: 1 / 1;
  width: 1.2rem;
}

.header__profile-icon {
  border: 1px solid lightgrey;
  border-radius: 100%;

  aspect-ratio: 1 / 1;
}



.page__header > .header__bottom {
  border-bottom: 1px solid lightgrey;

  height: 2.5rem;

  padding: 0 1rem;
}

.header__nav-list {
  list-style: none;

  height: 100%;
  width: fit-content;

  display: flex;
  column-gap: 0.5rem;
}

.nav-item__container {
  display: flex;
  align-items: start;
}

.nav-item__container.current-page {
  border-bottom: 1px solid orange;
  margin-bottom: -1px;
}

.nav-item {
  border-radius: 6px;

  padding: 0.35rem 0.5rem;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.nav-item__icon {
  height: 1.2rem;
  width: 1.2rem;
}

.nav-item__name {
  font-size: 0.85rem;
}



/*  Main Content  */

.main-content__container {
  padding: 0 1rem;

  display: flex;
  column-gap: 1rem;
  flex: 0 1 1280px;
  flex-wrap: wrap;
  justify-content: center;
}



.main-content__container > .user-profile {
  max-width: 300px;
  padding: 1rem 0;

  display: flex;
  flex: 1 0 260px;
  flex-direction: column;
  row-gap: 1rem;
}

.user-profile__icon {
  border: 1px solid lightgrey;
  border-radius: 100%;

  aspect-ratio: 1 / 1;
}

.user-profile__names-wrapper:not(:last-child) {
  margin-top: 0.4rem;
}

.user-profile__nick-name {
  font-size: 1.4rem;
}

.user-profile__user-name {
  font-size: 1.1rem;
}

.user-profile__edit-btn {
  border: 1px solid lightgrey;
  border-radius: 8px;
  font-size: 0.9rem;

  padding: 0.35rem 0;
}

.user-profile > .contact-info {
  display: flex;
  column-gap: 0.5rem;
}

.contact-info__icon {
  aspect-ratio: 1 / 1;
  width: 1.2em;
}

.contact-info__text {
  font-size: 0.85rem;
}



.main-content__container > .directories__wrapper {
  flex: 1 0 420px;
}

.directories__options {
  border-bottom: 1px solid lightgrey;

  padding: 0.8rem 0;

  display: flex;
  justify-content: end;
}

.directories__options > .add-dir-btn {
  border: 1px solid lightgrey;
  border-radius: 8px;

  padding: 0.4rem 1rem;

  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.add-dir-btn__icon {
  aspect-ratio: 1 / 1;
  width: 1.2rem;
}



/*  Temporary  

.directories__wrapper {
  border: 1px dashed rgb(212, 208, 207);
}

.nav-item {
  border: 1px dashed rgb(228, 161, 135);
}

*/