* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/*  Page */

.page {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 6rem 1fr;
}

.page__main-content {
  padding: 1rem 0;

  display: flex;
  justify-content: center;
}



/*  Header  */

.page__header > .top-header {
  height: 3.5rem;
}

.page__header > .bottom-header {
  height: 2.5rem;
}



/*  Main Content  */

.main-content__container {
  padding: 0 1rem;

  display: flex;
  flex: 0 1 1280px;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: center;
}

.user-profile {
  max-width: 300px;
  padding: 1rem 0;

  flex: 1 0 260px;
}

.directories__wrapper {
  flex: 1 0 420px;
}



/*  Temporary  */

.top-header,
.bottom-header,
.main-content__container {
  border: 1px dashed grey;
}

.user-profile,
.directories__wrapper {
  border: 1px dashed rgb(228, 161, 135);
}